.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body {
  background-color: azure;
}

h3 {
  background-image: url("https://images6.alphacoders.com/846/846724.jpg");
  margin-bottom: 20px;
  border: 2px solid var(--dark-green);
  padding: 1em;
  text-align: center;
  font-size: 2em;
  color: green;
}

.card {
  margin-top: 2em;
  background-color: black;
  color: beige;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 10em;
  height: 20em;
}

@media only screen and (max-width: 480px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 3em;
  }
}
